@charset "UTF-8";
html{
	height:100vh;
}

body{
	margin: 0;
	font-family: "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ ゴシック", "MS Gothic", sans-serif;
	
}

#userSelect{
	width: 150px;
    font-size: larger;
    font-weight: 600;
}


.burger {
	position: fixed;
	top: 16px;
	left: 16px;
	z-index: 1001;
	font-size: 24px;
	background: none;
	border: none;
	color: black;
}

.title{
	font-size: 15px;
	font-weight: 600;
	margin-top: 24px;
	text-align: center;
}

/*↓↓↓↓メニュー部分↓↓↓↓*/
.menu-drawer {
	position: fixed;
	top: 0;
	left: -100%;
	width: 300px;
	background-color: #333;
	color: white;
	padding: 80px 20px 20px;
	box-shadow: 2px 0 6px rgba(0, 0, 0, 0.3);
	transition: left 0.3s ease;
	z-index: 1000;
	display: flex;
    flex-direction: column; /* 縦並びに */
    justify-content: space-between; /* 上：リンク群、下：ログアウト */
    box-sizing: border-box;
    overflow-y: auto;       /* 縦方向にスクロール許可 */
	height: 100vh; 
}

.menu-drawer.open {
	left: 0;
}

.menu-drawer a {
	display: block;
	color: white;
	text-decoration: none;
	margin-bottom: 16px;
	font-size: 16px;
}

.menu-drawer a:hover {
	text-decoration: underline;
}

/*↑↑↑↑メニュー部分↑↑↑↑*/


/*↓↓↓↓座席部分↓↓↓↓*/
.group {
	margin-bottom: 24px;
	margin-top: 20px;
	padding-left: 20px;
}
.groupTitle{
	font-size: small;
	background-color: rgb(222, 222, 222);
	padding: 3px 20px;
	margin-left: -20px;;
}

.seat {
	display: inline-block;
	width: 150px;
	height: 150px;
	border: 1px solid #aaa;
	margin: 4px;
	padding: 4px;
	text-align: center;
	position: relative;
	font-size: 12px;
	box-sizing: border-box;
	vertical-align: top;
}

.seat-header {
	display: flex;
	justify-content: space-between;
	font-weight: bold;
	font-size: 13px;
}

.seat-center {
	margin-top: 20px;
	font-weight: 500;
	font-size: 18px;
	display: none;
}

.seat-total {
	font-size: 15px;
	margin-top: 4px;
}

.seat-footer {
	position: absolute;
	right: 4px;
	bottom: 4px;
	font-size: 12px;
	font-weight: 800;
	color: #555;
}
.seat.occupied .seat-footer {
	color: white;
}


.occupied {
	background-color: #2196f3;
	color: white;
}

.elapsed-yellow {
	background-color: #ffeb3b !important;
	color: black;
}

.elapsed-red {
	background-color: #f44336 !important;
	color: white;
}
.visitButton{
	height: 50px;
    width: 100%;
    font-size: large;
    font-weight: bold;
}


.modal {
	display: none;
	position: fixed;
	z-index: 10;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.4);
}
.modalButtons{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.modalButton {
	max-width:330px;
	min-width: 200px;;
	
	height: 150px;;
	padding:10px;
	margin: 3px auto; /* 上下余白 & 中央寄せ */
	display: block;   /* インラインからブロック要素に */
	font-weight: bold;
	border-style: none;
}
#deleteVisitBtn{
	background-color:#b22222 ;
	color: white;
}
#paymentCheckBtn{
	background-color:#32cd32 ;
	color: white;
}
#orderBtn{
	background-color:#20b2aa ;
	color: white;
}
#cancelBtn{
	margin-top:20px;
	width: 100%;
	height:50px;
}

.modal-content {
	background: white;
	margin: 10% auto;
	padding: 20px;
	max-width:700px;
	max-height:1200px;
	border-radius: 8px;
	overflow-y: auto;       /* 縦方向にスクロール許可 */
	max-height: 80vh;      /* 画面よりはみ出さないように */
}

.close {
	float: right;
	cursor: pointer;
	font-weight: bold;
	font-size: xx-large;
}
