<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <meta charset="UTF-8">
    <title>座席一覧</title>
    <link rel="stylesheet" href="/css/seat-list.css">
</head>
<body>
	<button class="burger" onclick="toggleMenu()">☰</button>
	<div class = "title">テーブル一覧</div>
    <div style="margin: 10px;">
       <label for="userSelect">担当者:</label>
       <select id="userSelect" onchange="setUserIdCookie(this.value)">
           <option value="">ユーザーを選択</option>
           <option th:each="user : ${users}" th:value="${user.userId}" th:text="${user.userName}"></option>
       </select>
    </div>
    <button onclick="openCallListModal()">呼び出し状況確認</button>
    
    
        <nav id="menuDrawer" class="menu-drawer">
            <div>
                <details class="menu-group" close>
                    <summary class="menu-group-title">メニュー設定</summary>
                    <a href="/menu/list">メニュー管理</a>
                    <a href="/menu/group/add">メニューグループ管理</a>
                    <a href="/options">オプション管理</a>
                    <a href="/menu/sold-out-management">メニュー品切れ管理</a>
                </details>

                <details class="menu-group" close>
                    <summary class="menu-group-title">事務操作</summary>
                    <a th:href="@{/admin/cash/transaction}">入出金</a>
                    <a th:href="@{/admin/cash/history}">入出金履歴</a>
                    <a th:href="@{/payments/history}">会計履歴</a>
                    <a th:href="@{/payment-types}">支払い方法管理</a>
                    <a th:href="@{/sales-analysis}">売上分析</a>
                    <a th:href="@{/admin/inspection/form}">点検</a>
                    <a th:href="@{/admin/inspection/history}">点検履歴</a>
                </details>

                <details class="menu-group" close>
                    <summary class="menu-group-title">店舗設定</summary>
                    <a href="/admin/printers" >プリンター管理</a>
                    <a href="/admin/plans">プラン管理</a>
                    <a href="/admin/terminals">端末管理</a>
                    <a th:href="@{/admin/terminals/logo}">ロゴ設定</a>
                    <a th:href="@{/admin/store/edit}">店舗設定</a>
                    <a th:href="@{/seat/edit}">座席グループ・座席編集</a>
                    <a th:href="@{/admin/staff}">スタッフ編集</a>
                </details>
            </div>

            <form th:action="@{/logout}" method="get" onsubmit="clearUserIdCookie()">
                <button type="submit">ログアウト</button>
            </form>
        </nav>

	<div  th:each="entry : ${groupedSeats}" class="group">
		<h3 class="groupTitle" th:text="${entry.key.seatGroupName}">グループ名</h3>

		<div th:each="seat : ${entry.value}" class="seat"
			th:attr="data-seat-id=${seat.seatId}, data-seat-name=${seat.seatName}"
			onclick="openSeat(this)">

			<div class="seat-header">
				<div class="seat-elapsed" th:id="'elapsed-' + ${seat.seatId}"></div>
				<span class="seat-people" th:id="'people-' + ${seat.seatId}"></span>
			</div>

			<div class="seat-center" th:id="'status-' + ${seat.seatId}">注文受付中</div>
			<div class="seat-total" th:id="'total-' + ${seat.seatId}"></div>
			
			<span th:text="${seat.seatName}" class="seat-footer"></span> 
		</div>
	</div>

	<!-- 入店用モーダル -->
	<div id="seatModal" class="modal">
		<div class="modal-content">
			<span class="close" onclick="closeModal()">&times;</span>
			<h3 id="modalSeatName">テーブル名</h3>
			<form th:action="@{/visits}" method="post">
				<input type="hidden" name="seat.seatId" id="modalSeatId">
	            <input type="hidden" name="store.storeId" value="1" />
<!--				<label>人数: -->
<!--				<input type="number" name="numberOfPeople" min="1" required /></label><br> <br>-->
				<label for="peopleCount">人数:</label>
				<div class="counter">
				  <button type="button"  onclick="decrease()">－</button>
				  <input  type="number" name="numberOfPeople" id="peopleCount" value="1" min="1" required />
				  <button type="button" onclick="increase()">＋</button>
				</div>
				<button class="visitButton" type="submit">入店</button>
			</form>
		</div>
	</div>

	<!-- 入店中モーダル -->
	<div id="activeModal" class="modal">
		<div class="modal-content">
			<span class="close" onclick="closeModal()">&times;</span>
			<h3 id="activeModalSeatName">テーブル名</h3>
			<div class="modalButtons">
				<button class="modalButton" id="orderBtn" type="button">注文画面へ</button>
				<button class="modalButton" id="paymentCheckBtn">会計確認</button>
				<button class="modalButton" id="deleteVisitBtn">会計中止</button>
				<button class="modalButton" id="cancelBtn" onclick="closeModal()">キャンセル</button>
			</div>

		</div>
	</div>
	
	

<div id="callListModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeCallListModal()">&times;</span>
        <h3>呼び出し中の座席</h3>
        <ul id="callingSeatsList">
            </ul>
    </div>
</div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.0/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
	<audio id="chimeSound" src="/chime.mp3" preload="auto"></audio>
	<script src="/js/seat-list.js"></script>
	
</body>
</html>
