### ビルド成果物系 ###
/bin/
/build/
/.gradle/
/target/

### Gradle Wrapper は含める ###
!gradle/wrapper/gradle-wrapper.jar

### Eclipse / STS ###
# 以下はGitで管理したいから除外しない
# .classpath
# .project
# .settings/

.sts4-cache/
.apt_generated/
.factorypath/
.springBeans/

### IDEごとの不要ファイル ###
.idea/
*.iws
*.iml
*.ipr

.vscode/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
